{% load static %}
    
    
{% block container-class %} {% endblock %}
<meta charset="UTF-8">
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %} Administracion de servidores {% endblock %}</title>
	<link rel="stylesheet" href="{% static '/css/base.css' %}"> 
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	{% block content %}
	<div class="grid-block">
            <div class="login text-center">
                <div class="">
                    <div class="row">
					   <img src="" alt="">
					   <div class="container">
                        <form method="post" action="{% url 'login:login' %}" id="login" role="form">{% csrf_token %}
                           <div class="col-md-12 title">
							   <h2>Bienvenido</h2>
							   <div>
							   <h5>Ingresa tus Datos</h5>
							</div>
                           </div><br>
	                       <div class="form-group form-login col-md-12">
	                       		<input class="form-control text-center" type="text" name="username" placeholder="Ingresar nombre de usuario" maxlength="30">
							</div>
							<div class="form-group form-login col-md-12">
					            <input class="form-control text-center" type="password" name="password" placeholder="Ingresar contraseña" maxlength="20">
			        		</div>
						        {% if messages %} <br />
						         {% for message in messages %}
						            <label style="color:red">{{ message }}</label>
						         {% endfor %} 
						        {% endif %}
						        
						    <div class="center-align">
						     	<button class="btn btn-login col-md-12" id="btningresar">Ingresar</button>
			        		</div>
						                                
					     </div>

						</form>
						</div>
                    </div>
                </div>
            </div>
		</div>
		</div>
		</div>
        
		<footer class="footer-lg">
                Copyright © 2018 Medellín | Colombia | Gerencia de Ingeniería y Desarrollo Emtelco S.A.S
        </footer>
</div>

{% endblock %}