
i#material {
        font-size: 18px;
        background-color: whitesmoke;
    }
    
}

form#login {
    margin-top: 300px;
    margin-left: 400px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer{
    padding: 5px;
    background: #26348c;
    box-shadow: 0 0 10px black;
    color: white;
}

