<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirmar eliminar servidor</title>
</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        <p>¿Deseas borrar el  {{ object.name }}?</p>
        <div>
            <button type="submit">Confirmar</button>
            <a class="button" href="{% url 'list:list' %}">Cancelar</a>
        </div>
    </form>	
</body>
</html>