i.material-icons.md-18 { font-size: 18px; }

i#material {
    font-size: 18px;
    
    
}

a.btn {
    color: black;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: 10px;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    margin-top: 10px;
}

form#login {
    margin-top: 400px;
    margin-left: 1000px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    color: black;
}
.footer{
    padding: 5px;
    background: #26348c;
    box-shadow: 0 0 10px black;
    color: white;
}



div.grid-block{
    background-image: url("/static/images/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    background-repeat: no-repeat; 
    background-position: center center;
}

button#btningresar {
    background-color: #e0e0e0;
    color: black;
}

input.form-control.text-center {
    border: 1px solid;
    text-align: center;
}
h5 {
    text-align: center;
}
h2 {
    text-align: center;
}
